.form__container {
  display: flex !important;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 5%;

  .form {
    height: 60%;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }

  .form__button {
    max-height: 60px !important;
  }
}
